@page "/"
@inherits ChatBase

<div class="sidebar">
	<CascadingValue Value="clientList">
		<NavMenu ChatWithSpecificClientCallBack="ChatWithSpecificClient" />
	</CascadingValue>
</div>

<div class="main">
	<h1>Welcome to your chat app using SignalR.</h1>
	<div class="content px-4">

		<div class="input-group mb-3 @(!String.IsNullOrWhiteSpace(myIdentity.ClientId) ? "none" : "")">
			<input type="text" placeholder="Enter your name" class="form-control"
					 @bind-value="@myIdentity.Username"
					 @onkeyup="async (arg) => await RegisUser(arg)"/>
			<div class="input-group-append">
				<button type="button" class="btn btn-outline-success"
						  @onclick="async () => await RegisUser()">
					Regis
				</button>
			</div>
		</div>

		@if (chatMessages != null)
		{
			<ul>
				@foreach (var chatMessage in chatMessages)
				{
					if (chatMessage.ClientIdentity.ClientId != myIdentity.ClientId)
					{
						<li>@chatMessage.ClientIdentity.Username: @chatMessage.Message</li>
					}
					else
					{
						<li>You: @chatMessage.Message</li>
					}
				}
			</ul>
		}

		<div class="input-group mb-3">
			<input type="text" class="form-control" placeholder="Your Message..."
					 @bind-value="@myChatMessage"
					 @onkeyup="async (arg) => await HandleSendMessage(arg)">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button"
						  @onclick="async () => await HandleSendMessage()">
					Send
				</button>
			</div>
		</div>

	</div>
</div>